/* Styles go here */
ul {
    list-style: none;
}

li {
    position: relative;
    padding: 5px;
    border-bottom: 2px solid black;
    width: 115px;
}

button {
    position: absolute;
    right: 5px;
    border: none;
    background-color: red;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: #c40d00;
}